<div class="container">
  <div>
    <button class="btn btn-ghost-secondary" mat-button (click)="openCreateCardMemberDialog()">
      <mat-icon>add_box</mat-icon>
      Create New CardMember
    </button>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Admin" #input>
  </mat-form-field>

  <div class="mat-elevation-z8  text-base text-blue-900">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="cardId"> ID </th>
        <td mat-cell *matCellDef="let cardMember"> {{cardMember.cardId}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="nameMember">Name</th>
        <td mat-cell *matCellDef="let cardMember">{{cardMember.nameMember}}</td>
      </ng-container>

      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="addressMember"> Address</th>
        <td mat-cell *matCellDef="let cardMember"> {{cardMember.addressMember}} </td>
      </ng-container>

      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="phoneNumberMember"> Phone</th>
        <td mat-cell *matCellDef="let cardMember"> {{cardMember.phoneNumberMember}} </td>
      </ng-container>

      <ng-container matColumnDef="Deposit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="deposit">Deposit</th>
        <td mat-cell *matCellDef="let cardMember"> {{cardMember.deposit}} </td>
      </ng-container>

      <ng-container matColumnDef="User">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="userName">User Name</th>
        <td mat-cell *matCellDef="let cardMember"> {{cardMember.user.userName}} </td>
      </ng-container>

      <!-- Update Column -->
      <ng-container matColumnDef="Update">
        <th mat-header-cell *matHeaderCellDef> Update</th>
        <td mat-cell *matCellDef="let cardMember">
          <button mat-icon-button color="primary" (click)="openUpdateCardMemberDialog(cardMember)">
            <mat-icon>system_update</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let cardMember">
          <button mat-icon-button color="primary" (click)="deleteCardMember(cardMember)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let cardMember; columns: displayedColumns;"></tr>

      <!-- role shown when there is no matching data. -->
      <tr class="mat-role" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page of users"
                   showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>


