<div class="w-96">
  <h1 mat-dialog-title class="text-2xl text-center">Update Category</h1>
  <form [formGroup]="updateCategoryForm" (submit)="submit()">

    <mat-dialog-content class="mat-typography">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Name</mat-label>
        <input type="text" formControlName="categoryName" matInput>
        <em class="text-danger" *ngIf="validateControl('categoryName', 'required')">
          Category Name is required!
        </em>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Description</mat-label>
        <input type="text" formControlName="description" matInput>
        <em class="text-danger" *ngIf="validateControl('description', 'required')">
          Description is required!
        </em>
      </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close="close">Close</button>
      <button mat-raised-button [matDialogClose]="true" type="submit" [disabled]="updateCategoryForm.invalid">Save</button>
    </mat-dialog-actions>
  </form>
</div>
