<div class="w-96">
  <h1 mat-dialog-title class="text-2xl text-center">Update Product</h1>
  <form [formGroup]="updateProductFormGroup" (submit)="submit()">

    <mat-dialog-content class="mat-typography">

      <mat-form-field appearance="fill" class="w-full" >
        <mat-label>Product Name</mat-label>
        <input formControlName="productName" type="text" matInput>
        <em class="text-danger" *ngIf="validateControl('productName', 'required')">
          Product Name is required!
        </em>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full" >
        <mat-label>Price Open</mat-label>
        <input formControlName="priceOpen" type="number" matInput>
        <em class="text-danger" *ngIf="validateControl('priceOpen', 'required')">
          Price Open is required!
        </em>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full" >
        <mat-label>Description</mat-label>
        <input formControlName="description" type="text" matInput>
        <em class="text-danger" *ngIf="validateControl('description', 'required')">
          Description is required!
        </em>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let category of categories" [value]="category.categoryId">
            {{category.categoryName}}
          </mat-option>
        </mat-select>
        <em class="text-danger" *ngIf="validateControl('categoryId', 'required')">
          Category is required!
        </em>
      </mat-form-field>

      <div class="mat-radio-button ml-3">
        <mat-radio-group  formControlName="isApproved">Is Approved
          <mat-radio-button [checked]="!getChecked()"  value="false">No</mat-radio-button>
          <mat-radio-button [checked]="getChecked()"  value="true" class="ml-4">Yes</mat-radio-button>
        </mat-radio-group>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close="close">Close</button>
      <button mat-raised-button [matDialogClose]="true" type="submit" [disabled]="updateProductFormGroup.invalid">Save</button>
    </mat-dialog-actions>
  </form>
</div>
