<div class="card">
  <div class="card-body">
    <h1 class="card-title">Forgot Password</h1>

    <div *ngIf="showError" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>

    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
      {{successMessage}}
    </div>

    <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword()">
      <div class="mb-2 row">
        <mat-form-field appearance="fill" class="w-96">
          <mat-label>Email</mat-label>
          <input type="text" id="email" formControlName="email" matInput/>
          <em class="text-danger" *ngIf="validateControl('email','email')">Please provide a valid email</em>
          <br>
          <em class="text-danger" *ngIf="validateControl('email','required')">Email is required</em>
        </mat-form-field>
      </div>
      <div class="mb-3 row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!forgotPasswordForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

