<div class="card">
  <div class="card-body">
    <h1 class="card-title">Reset Password</h1>

    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>

    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
      Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
    </div>

    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword()">
      <div class="mb-3 row">
        <label for="password" class="col-form-label col-sm-2">Password:</label>
        <div class="col-md-5">
          <input type="password" id="password" formControlName="password" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('password', 'required')">Password is required</em>

        </div>
      </div>
      <div class="mb-3 row">
        <label for="confirmPassword" class="col-form-label col-sm-2">Confirm Password:</label>
        <div class="col-md-5">
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('confirmPassword', 'required')">Confirmation is required </em>
          <em *ngIf="validateControl('confirmPassword', 'mustMatch')"> Passwords must match</em>
        </div>
      </div>
      <br>
      <div class="mb-3 row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
